<div class="collapse navbar-collapse" id="navbarNav"> 
    <ul class="navbar-nav d-lg-none mt-2">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'product:catalog' %}" role="button">
                <i class="fas fa-box me-2"></i>Pedidos
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'product:catalog' %}" role="button">
                <i class="fas fa-gear me-2"></i>Conta
            </a>
        </li>

        <li class="nav-item">
            <a class="nav-link" href="{% url 'about' %}" role="button">
                <i class="fas fa-info-circle me-2"></i>Sobre
            </a>
        </li>

        <li class="nav-item w-100">
            <div class="border-top border-dark opacity-50 my-2 w-100"></div>
        </li>

        <li class="nav-item mt-2">
            <form action="{% url 'account:logout' %}" method="post">
                {% csrf_token %}
                <button type="submit" class="btn btn-outline-dark">
                    <i class="fas fa-sign-out-alt me-2"></i>Sair
                </button>
            </form>
        </li>
    </ul>   
</div>