<div class="dropdown">
    <li class="nav-item dropdown">
        <button class="btn border-0 dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
            <i class="fas fa-user me-2"></i>Olá, {{ user.get_full_name }}
        </button>

        <ul class="dropdown-menu dropdown-menu-end">
            <li>
                <a class="dropdown-item" href="{% url 'product:catalog' %}" role="button">
                    <i class="fas fa-box me-2"></i>Pedidos
                </a>
            </li>

            <li>
                <a class="dropdown-item" href="{% url 'product:catalog' %}" role="button">
                    <i class="fas fa-gear me-2"></i>Conta
                </a>
            </li>

            <li>
                <a class="dropdown-item" href="{% url 'about' %}" role="button">
                    <i class="fas fa-info-circle me-2"></i>Sobre
                </a>
            </li>

            <li><hr class="dropdown-divider"></li>

            <li>
                <form class="" action="{% url 'account:logout' %}" method="post">
                    {% csrf_token %}
                    <button type="submit" class="dropdown-item">
                        <i class="fas fa-sign-out-alt me-2"></i>Sair
                    </button>
                </form>
            </li>
        </ul>
    </li>
</div>