{% extends 'base.html' %}

{% block page_title %}
   Produtos
{% endblock %}

{% block content_title %}
   Produtos
{% endblock %}

{% block search %}
   <form method="get">
      {% csrf_token %}

      <div class="search_group">
         <div class="search_input_area">
            <input type="text" name="search" placeholder="Pesquisar..." value="{{ request.GET.search }}">
         </div>
         
         <button type="submit">
            <span class="search_icon material-icons-sharp">search</span>
         </button>
      </div>
   </form>

   <div class="btn_area">
      <a href="#">
         <span class="btn_area_icon material-icons-sharp">add</span>
         
         <span class="text">Cadastrar</span>
      </a>
      
      <a href="{% url 'product:product_list_export' %}">
         <span class="btn_area_icon material-icons-sharp">file_download</span>

         <span class="text">Exportar</span>
      </a>
   </div>
{% endblock %}

{% block content %}
   <table>
      <thead>
         <tr>
            <th>DESCRIÇÃO</th>
            <th>CÓD. BARRAS</th>
            <th>TIPO</th>
            <th>PREÇO</th>
            <th>QUANTIDADE</th>
            <th>STATUS</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         {% for product in products %}
            <tr>
               <th>{{ product }}</th>
               <th>{{ product.bar_code }}</th>
               <th>{{ product.get_format_type_display }}</th>
               <th>R$ {{ product.price }}</th>
               <th>{{ product.quantity }}</th>
               <th>
               {% if product.is_active %}
                  <p class="status active">Ativo</p>
               {% else %}
                  <p class="status inactive">Inativo</p>
               {% endif %}
               </th>
               <th class="th_icon_area">
                  <a class="th_icon_area_link" href="#">
                     <span class="th_icon material-icons-sharp">edit</span>
                  </a>
               </th>
            </tr>
         {% empty %}
            <tr>
               <th>
                  <p>Nenhum produto encontrado</p>
               </th>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}