{% extends 'base.html' %}

{% load filters %}

{% block page_title %}
   Produtos
{% endblock %}

{% block content_title %}
   Produtos
{% endblock %}

{% block messages %}
   {% if messages %}
      {% for message in messages %}
         <div class="message_area">
            <span>{{ message }}</span>
         </div>
      {% endfor %}
   {% endif %}
{% endblock %}

{% block search %}
   <form method="get" id="form_search">
      {% csrf_token %}

      <div class="search_group">
         <div class="search_input_area">
            <input type="text" name="search" id="input_search" placeholder="Pesquisar..." value="{{ request.GET.search }}">
         </div>
         
         <button type="button" id="search_btn">
            <span class="search_icon material-icons-sharp">search</span>
         </button>
      </div>
   </form>

   <div class="btn_area">
      <a href="#">
         <span class="btn_area_icon material-icons-sharp">add</span>
         
         <span class="text">Cadastrar</span>
      </a>
      
      <a href="{% url 'product:product_list_export' %}">
         <span class="btn_area_icon material-icons-sharp">file_upload</span>

         <span class="text">Exportar</span>
      </a>
   </div>
{% endblock %}

{% block content %}
   <div class="table_area">
      <table>
         <thead>
            <tr>
               <th>#</th>
               <th>NOME</th>
               <th>CÓD. BARRAS</th>
               <th>QUANTIDADE</th>
               <th>PREÇO</th>
               <th>STATUS</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            {% for product in products %}
               <tr class="normal">
                  <th>{{ product.id }}</th>
                  <th>
                     {{ product.name }}
                     {% if product.variant_product %}
                        <span class="variant_text">(Com variação)</span>
                     {% endif %}
                  </th>
                  <th>{{ product.bar_code }}</th>
                  <th>{{ product.quantity }}</th>
                  <th>R$ {{ product.price }}</th>
                  <th>
                  {% if product.is_active %}
                     <p class="status active">Ativo</p>
                  {% else %}
                     <p class="status inactive">Inativo</p>
                  {% endif %}
                  </th>
                  <th class="th_icon_area">
                     <a class="th_icon_area_link" href="#">
                        <span class="th_icon material-icons-sharp">edit</span>
                     </a>
                  </th>
               </tr>
               {% for variant in product.variant_product.all %}
                  <tr class="variant">
                     <th></th>
                     <th>{{ variant }}</th>
                     <th></th>
                     <th>{{ variant.quantity }}</th>
                     <th>R$ {{ variant.price }}</th>
                     <th>
                     {% if variant.is_active %}
                        <p class="status active">Ativo</p>
                     {% else %}
                        <p class="status inactive">Inativo</p>
                     {% endif %}
                     </th>
                     <th class="th_icon_area">
                        <a class="th_icon_area_link" href="#">
                           <span class="th_icon material-icons-sharp">edit</span>
                        </a>
                     </th>
                  </tr>
               {% endfor %}
            {% empty %}
               <tr>
                  <th>
                     <p>Nenhum produto encontrado</p>
                  </th>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

   <div class="pagination">
      <div class="pag_icon">
         {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search|urlencode }}">
               <span class="material-icons-sharp">chevron_left</span>
            </a>
         
         {% else %}
            <span class="disable material-icons-sharp">chevron_left</span>

         {% endif %}
      </div>
      
      <div class="pag_numbers">
         {% for num in page_range %}
            {% if num == paginator.ELLIPSIS %}
               <span class="elipse">...</span>

            {% elif num == page_obj.number %}
               <span class="active">{{ num }}</span>
            
            {% else %}
               <a href="?page={{ num }}&search={{ request.GET.search|urlencode }}">
                  <span>{{ num }}</span>
               </a>

            {% endif %}
         {% endfor %}
      </div>
      
      <div class="pag_icon">
         {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search|urlencode }}">
               <span class="material-icons-sharp">chevron_right</span>
            </a>

         {% else %}
            <span class="disable material-icons-sharp">chevron_right</span>

         {% endif %}
      </div>
   </div>
{% endblock %}