{% extends 'base.html' %}

{% load filters %}

{% block page_title %}
   Usuários
{% endblock %}

{% block content_title %}
   Usuários
{% endblock %}

{% block messages %}
   {% if messages %}
      {% for message in messages %}
         <div class="message_area">
            <span>{{ message }}</span>
         </div>
      {% endfor %}
   {% endif %}
{% endblock %}

{% block search %}
   <form method="get" id="form_search">
      {% csrf_token %}

      <div class="search_group">
         <div class="search_input_area">
            <input type="text" name="search" id="input_search" placeholder="Pesquisar..." value="{{ request.GET.search }}">
         </div>
         
         <button type="button" id="search_btn">
            <span class="search_icon material-icons-sharp">search</span>
         </button>
      </div>
   </form>

   <div class="btn_area">
      <a href="{% url 'account:user_create' %}">
         <span class="btn_area_icon material-icons-sharp">add</span>
         
         <span class="text">Cadastrar</span>
      </a>
      
      <a href="{% url 'account:user_list_export' %}">
         <span class="btn_area_icon material-icons-sharp">file_upload</span>

         <span class="text">Exportar</span>
      </a>
   </div>
{% endblock %}

{% block content %}
   <div class="table_area">
      <table>
         <thead>
            <tr>
               <th>
                  <div>
                     <span class="text">NOME</span>

                     <a href="?sort=first_name&order={{ current_order }}"
                     title="Alterar ordenação">
                        <span class="order_icon material-icons-sharp">keyboard_arrow_down</span>
                     </a>
                  </div>
               </th>

               <th>
                  <div>
                     <span class="text">EMAIL</span>
                     <a href="?sort=email" title="Alterar ordenação">
                        <span class="order_icon material-icons-sharp">keyboard_arrow_down</span>
                     </a>
                  </div>
               </th>

               <th>
                  <div>
                     <span class="text">TIPO DE USUÁRIO</span>
                     <a href="?sort=user_type" title="Alterar ordenação">
                        <span class="order_icon material-icons-sharp">keyboard_arrow_down</span>
                     </a>
                  </div>
               </th>

               <th>
                  <div>
                     <span class="text">STATUS</span>
                     <a href="?sort=is_active&order=asc" title="Alterar ordenação">
                        <span class="order_icon material-icons-sharp">keyboard_arrow_down</span>
                     </a>
                  </div>
               </th>

               <th></th>
            </tr>
         </thead>
         <tbody>
            {% for user in users %}
               <tr>
                  <th>{{ user.get_full_name }}</th>
                  <th>{{ user.email }}</th>
                  <th>{{ user.get_user_type_display }}</th>
                  <th>
                  {% if user.is_active %}
                     <p class="status active">Ativo</p>
                  {% else %}
                     <p class="status inactive">Inativo</p>
                  {% endif %}
                  </th>
                  <th class="th_icon_area">
                     <a class="th_icon_area_link" href="{% url 'account:user_update' user.pk %}">
                        <span class="th_icon material-icons-sharp">edit</span>
                     </a>
                  </th>
               </tr>
            {% empty %}
               <tr>
                  <th>
                     <p>Nenhum usuário encontrado</p>
                  </th>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>

   <div class="pagination">
      <div class="pag_icon">
         {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search|urlencode }}">
               <span class="material-icons-sharp">chevron_left</span>
            </a>
         
         {% else %}
            <span class="disable material-icons-sharp">chevron_left</span>

         {% endif %}
      </div>
      
      <div class="pag_numbers">
         {% for num in page_range %}
            {% if num == paginator.ELLIPSIS %}
               <span class="elipse">...</span>

            {% elif num == page_obj.number %}
               <span class="active">{{ num }}</span>
            
            {% else %}
               <a href="?page={{ num }}&search={{ request.GET.search|urlencode }}">
                  <span>{{ num }}</span>
               </a>

            {% endif %}
         {% endfor %}
      </div>
      
      <div class="pag_icon">
         {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search|urlencode }}">
               <span class="material-icons-sharp">chevron_right</span>
            </a>

         {% else %}
            <span class="disable material-icons-sharp">chevron_right</span>

         {% endif %}
      </div>
   </div>
{% endblock %}