<div class="pagination">
    <div class="pag_icon">
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}&search={{ request.GET.search|urlencode }}">
                <span class="material-icons-sharp">chevron_left</span>
            </a>
        {% else %}
            <span class="disable material-icons-sharp">chevron_left</span>
        {% endif %}
    </div>
    
    <div class="pag_numbers">
        {% for num in page_range %}
            {% if num == paginator.ELLIPSIS %}
                <span class="elipse">...</span>

            {% elif num == page_obj.number %}
                <span class="active">{{ num }}</span>
            
            {% else %}
                <a href="?page={{ num }}&search={{ request.GET.search|urlencode }}">
                    <span>{{ num }}</span>
                </a>

            {% endif %}
        {% endfor %}
    </div>
    
    <div class="pag_icon">
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}&search={{ request.GET.search|urlencode }}">
                <span class="material-icons-sharp">chevron_right</span>
            </a>

        {% else %}
            <span class="disable material-icons-sharp">chevron_right</span>

        {% endif %}
    </div>
</div>