{% load static %}

<aside class="close">
    <span class="btn_toggle material-icons-sharp">chevron_left</span>
    
    <div class="itens_area">
        <div class="user_area">
            <div class="user_icon">
                <span>{{ user.get_initials }}</span>
            </div>
    
            <div class="user_details">
                <span class="user_name">
                    {{ user.get_full_name }}
                </span>
        
                <span class="user_role">
                    {{ user.get_user_type_display }}
                </span>
            </div>
        </div>
    
        <hr class="divider">
    
        <div class="menu">
            <ul>
                <li>
                    <a href="{% url 'dashboard:overview' %}">
                        <span class="menu_icon material-icons-sharp">dashboard</span>

                        <span class="title">Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'order:order_list' %}">
                        <span class="menu_icon material-icons-sharp">list_alt</span>

                        <span class="title">Pedidos</span>
                    </a>
                </li>

                <li>
                    <a id="submenu_btn1">
                        <span class="menu_icon material-icons-sharp">inventory_2</span>

                        <span class="title">Produtos</span>

                        <span class="arrow material-icons-sharp" id="arrow1">expand_more</span>
                    </a>

                    <ul class="submenu" id="submenu1">
                        <li>
                            <a href="{% url 'product:product_list' %}">
                                <span class="submenu_icon material-icons-sharp">circle</span>

                                <span class="title">Todos</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'product:brand_list' %}">
                                <span class="submenu_icon material-icons-sharp">circle</span>

                                <span class="title">Marcas</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'product:category_list' %}">
                                <span class="submenu_icon material-icons-sharp">circle</span>

                                <span class="title">Categorias</span>
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'product:model_list' %}">
                                <span class="submenu_icon material-icons-sharp">circle</span>

                                <span class="title">Modelos</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{% url 'customer:customer_list' %}">
                        <span class="menu_icon material-icons-sharp">groups</span>

                        <span class="title">Clientes</span>
                    </a>
                </li>

                <li>
                    <a id="submenu_btn2">
                        <span class="menu_icon material-icons-sharp">warehouse</span>

                        <span class="title">Estoque</span>

                        <span class="arrow material-icons-sharp" id="arrow2">expand_more</span>
                    </a>

                    <ul class="submenu" id="submenu2">
                        <li>
                            <a href="{% url 'stock:flow_list' %}">
                                <span class="submenu_icon material-icons-sharp">circle</span>
                                
                                <span class="title">Movimentações</span>
                            </a>
                        </li>
                    </ul>
                </li>

                <li>
                    <a href="{% url 'account:user_list' %}">
                        <span class="menu_icon material-icons-sharp">account_circle</span>

                        <span class="title">Usuários</span>
                    </a>
                </li>

                <li>
                    <a href="{% url 'supplier:supplier_list' %}">
                        <span class="menu_icon material-icons-sharp">factory</span>

                        <span class="title">Fornecedores</span>
                    </a>
                </li>
            </ul>

            <ul>
                <hr class="divider">
                <li>
                    <form method="post" action="{% url 'account:logout' %}">
                        {% csrf_token %}

                        <button type="submit">
                            <span class="menu_icon material-icons-sharp">logout</span>
    
                            <span class="title">Logout</span>
                        </button>
                    </form>
                </li>
            </ul>
        </div>
    </div>
</aside>

