<div class="common_form_area">
    <span>Informações Gerais</span>
    
    <form method="post">
        {% csrf_token %}

        {% for field in form %}
            <div class="field">
                <span>{{ field.label }}</span>
                    
                    <div class="field_input">
                        {{ field }}
                    </div>

                {% if field.errors %}
                    {% for error in field.errors %}
                        <div class="field_error">
                            <span>{{ error }}</span>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% endfor %}
        
        <div class="btns_area">
            <div class="btn_group">
                <button class="btn_submit" type="submit">Atualizar</button>
                
                <a class="btn_cancel" href="{% url urls.url_list %}">Cancelar</a>
            </div>

            <div class="btn_group">
                <a class="btn_delete" href="{% url urls.url_delete object.pk %}">Deletar</a>
            </div>
        </div>
    </form>
</div>