{% extends 'base.html' %}

{% load static %}

{% block title %}
   Ativação de conta
{% endblock %}

{% block account_content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <div class="row justify-content-center mb-3">
                    <img src="{% static 'img/attention.png' %}" alt="attention"
                    style="width: 12rem; height: 10rem;">
                </div>

                <h4 class="fw-semibold mb-3 text-center">Erro em ativar conta!</h4>
                <h6 class="fw-normal mb-3 text-center">{{ message }}</h6>

                {% if id_msg == 1 %}
                    <div class="row justify-content-center">
                        <a href="{% url 'account:login' %}" class="btn btn-dark fw-semibold w-50" type="button">Ir para o login</a>
                    </div>
                {% else %}
                    <div class="row justify-content-center">
                        <a href="#" class="btn btn-dark fw-semibold w-50" type="button">Reenviar link</a>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}