{% extends 'base.html' %}

{% load static %}

{% block title %}
   Entrar
{% endblock %}

{% block account_content %}
   <div class="container">
      <div class="row justify-content-center">
         <div class="col-auto">
            <img src="{% static 'img/logo_talgui_black.png' %}" alt="talgui_logo_black" width="250" height="50">
         </div>
      </div>
      
      <div class="row justify-content-center mt-4">
         <div class="col-md-5">
            <h5 class="fw-normal mb-3 text-center">Informe seus dados para acessar sua conta</h5>
            
            <form method="post">
               {% csrf_token %}

               {% include 'account_components/login_components/_errors.html' %}

               <div class="mt-4">
                  <div class="form-floating mb-3">
                     {% include 'account_components/login_components/_email_field.html' %}
                  </div>
                  
                  <div class="form-floating">
                     {% include 'account_components/login_components/_password_field.html' %}
                  </div>
               </div>

               <div class="my-3 text-end">
                  <a href="{% url 'account:password_reset' %}" class="text-decoration-none text-dark">Esqueceu sua senha?</a>
               </div>

               <button class="btn btn-dark fw-semibold w-100" type="submit">ENTRAR</button>
               
               <div class="my-3">
                  Não possui uma conta? <a href="{% url 'account:register' %}">Cadastre-se</a>
               </div>
            </form>
         </div>
      </div>
   </div>
{% endblock %}