{% extends 'base.html' %}

{% block title %}
    Nova senha
{% endblock %}

{% block account_content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-6">
                <h4 class="fw-semibold mb-3 text-center">Nova senha</h4>

                <form method="post">
                    {% csrf_token %}

                    {% include 'account_components/reset_password_components/_errors.html' %}

                    <!-- Password1 -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/reset_password_components/_new_password1_field.html' %}
                    </div>
                    
                    <!-- Password2 -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/reset_password_components/_new_password2_field.html' %}
                    </div>

                    <button class="btn btn-dark fw-semibold w-100" type="submit">Alterar senha</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}