{% extends 'base.html' %}

{% load static %}

{% block title %}
   Conta cadastrada
{% endblock %}

{% block account_content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-10">
                <div class="row justify-content-center mb-3">
                    <img src="{% static 'img/success_check.png' %}" alt="success_check"
                    style="width: 12rem; height: 10rem;">
                </div>

                <h4 class="fw-semibold mb-3 text-center">Conta cadastrada com sucesso!</h4>
                <h6 class="fw-normal mb-3 text-center">
                    Enviamos um link em seu e-mail para a ativação de sua conta. Verifique sua caixa de entrada (e também o spam).
                </h6>

                <div class="row justify-content-center">
                    <a href="{% url 'account:login' %}" class="btn btn-dark fw-semibold w-50" type="button">Ir para o login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}