{% extends 'base.html' %}

{% load static %}

{% block title %}
    Cadastrar conta
{% endblock %}

{% block account_content %}
    <div class="container">
        <div class="row justify-content-center mt-4">
            <div class="col-md-5">
                <h3 class="fw-semibold mb-3 text-center">Cadastrar conta</h3>
                <h6 class="fw-normal mb-3 text-center">Preencha os campos abaixo para criar sua conta.</h6>

                <form method="post">
                    {% csrf_token %}
                    
                    <!-- First name -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/register_components/_first_name_field.html' %}
                    </div>

                    <!-- Last name -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/register_components/_last_name_field.html' %}
                    </div>

                    <!-- Email -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/register_components/_email_field.html' %}
                    </div>

                    <!-- CNPJ -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/register_components/_cnpj_field.html' %}
                    </div>

                    <!-- Phone -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/register_components/_phone_field.html' %}
                    </div>

                    <!-- Password1 -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/register_components/_password1_field.html' %}
                    </div>

                    <!-- Password2 -->
                    <div class="form-floating mb-3">
                        {% include 'account_components/register_components/_password2_field.html' %}
                    </div>

                    <button class="btn btn-dark fw-semibold w-100" type="submit">CADASTRAR</button>
                    
                    <div class="my-3">
                        Já possui uma conta? <a href="{% url 'account:login' %}">Fazer login</a>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}