<div class="offcanvas offcanvas-start" tabindex="-1" id="carrinhoOffcanvas" aria-labelledby="carrinhoOffcanvasLabel">
    <div class="offcanvas-header">
        <h5 class="offcanvas-title" id="carrinhoOffcanvasLabel">Resumo do pedido</h5>
        <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Fechar"></button>
    </div>
    <div class="offcanvas-body d-flex flex-column">
        <ul class="list-group mb-auto overflow-auto">
            <!-- Colocar o FOR aqui para iterar os itens do carrinho -->
            <li class="list-group-item d-flex justify-content-between align-items-start">
                <div>
                    <div class="row align-items-start">
                        <strong>Blusa Núbia Ombro a Ombro</strong>
                        <div class="col">
                            Tamanho: <strong>GG</strong>
                        </div>
                        <div class="col">
                            Cor: <strong>Vermelho</strong>
                        </div>
                        <div class="row align-items-start">
                            <div class="col">
                                Qtd.: <strong>100</strong>
                            </div>
                            <div class="col">
                                <button type="button" class="btn btn-outline-danger">Excluir</button>
                            </div>
                        </div>

                    </div>
                </div>
            </li>
            <!-- Terminar o FOR aqui -->
        </ul>
    </div>
</div>