.main_content {
    margin-left: 250px;
    margin-top: 70px;
    transition: margin-left 0.35s ease;
}


/* Sidebar close events */
.sidebar.close ~ .main_content {
    margin-left: 70px;
    transition: margin-left 0.35s ease;
}
