.content_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: 250px;
    margin-top: 20px;
    overflow: hidden;
    transition: margin-left var(--transition-025);
}

aside.close ~ .content_area {
    margin-left: 72px;

    > .content_top .title {
        margin-left: 15px;
    }
}

.content_top {
    margin-left: 40px;

    > .title {
        font-size: 26px;
        font-weight: 600;
        transition: margin-left var(--transition-025);
    }
}

.content_body {
    display: flex;
    flex-direction: column;
    height: 100%;
    border-radius: 10px;
    margin: 15px;
    overflow: hidden;
    box-shadow: 0 0 8px var(--box-shadow-01);
    background-color: var(--light1);

    > .search_area {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 15px;
    }

    > .content {
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 5px 15px;
    }
}

.search_area > form,
.search_area > form > .search_group,
.search_area > form > .search_group > button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.search_group .search_input_area {
    padding: 5px;
    border-radius: 5px 0 0 5px;
    border: 1px solid var(--dark2);
    border-right: none;
    height: 100%;
    transition: border-color var(--transition-015);

    > input {
        font-size: 14px;
        border: none;
    }

    > input:focus {
        outline: none;
        border-color: var(--dark1);
    }
}

.search_input_area:focus-within {
  border-color: var(--dark1);
}

.search_group button {
    border-radius: 0 5px 5px 0;
    border: 1px solid var(--dark2);
    border-left: none;
    width: 40px;
    cursor: pointer;
    transition: background-color var(--transition-015);
    background-color: var(--info2);

    > .search_icon {
        color: var(--light1);
    }
}

.search_group button:hover {
    background-color: var(--info1);
}

.btn_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    > a {
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        padding: 6px 8px;
        border-radius: 5px;
        transition: background-color var(--transition-015);
        background-color: var(--info2);
    }

    > a .btn_area_icon,
    a .text {
        color: var(--light1);
    }

    > a:hover {
        background-color: var(--info1);
    }
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: end;
    margin: 10px 0;
    gap: 10px;

    > .pag_icon {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    > .pag_icon span {
        padding: 5px;
        font-size: 28px;
        border-radius: 8px;
        color: var(--dark1);
        cursor: pointer;
        transition: color var(--transition-015), background-color var(--transition-015);
    }

    > .pag_icon span.disable {
        pointer-events: none;
        color: var(--dark3);
    }

    > .pag_icon span:hover {
        color: var(--info1);
        background-color: var(--light2);
    }

    > .pag_numbers span {
        padding: 5px 15px;
        border-radius: 8px;
        color: var(--dark1);
        cursor: pointer;
        transition: color var(--transition-015), background-color var(--transition-015);
    }

    > .pag_numbers span.active {
        color: var(--info1);
        background-color: var(--light2);
    }

    > .pag_numbers span:hover {
        color: var(--info1);
        background-color: var(--light2);
    }
}

/* Messages */
.message_area {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    width: 100%;
    top: 0;
    opacity: 0;
    transform: translatey(-30px);
    transition: opacity var(--transition-025), transform var(--transition-025);
    z-index: 2000;
    background-color: var(--success2);
}

.message_area span {
    color: var(--light1);
    font-weight: 500;
}

.message_area.show {
    opacity: 1;
    transform: translateY(0);
}

.message_area.invalid {
    background-color: var(--danger1);
}


