.card_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 180px;
    gap: 10px;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0,0,0,0.08);
    background-color: var(--navbar-bg-color);
}

.card .card_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
    font-size: 50px;
    color: var(--navbar-bg-color);
    background-color: var(--user-icon-bg-color);
    border-radius: 50%;
    padding: 5px;
}

.card .card_info {
    display: flex;
    flex-direction: column;
}

.card_info .card_title { 
    font-size: 19px;
    font-weight: 500;
}

.card_info .card_body { 
    font-size: 17px;
    opacity: 0.5;
}