.card_area {
    display: flex;
    align-items: stretch;
    flex-wrap: wrap;
    gap: 10px;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex: 1 1 300px;
    min-width: 260px;
    max-width: 100%;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 var(--box-shadow-01);
    background-color: var(--bg-color1);
}

.card .card_top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card_top .card_title {
    font-size: 16px;
    font-weight: 500;
}

.card_top .period {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
    height: 20px;
    border-radius: 10px;
    padding: 10px;
    color: var(--text-color1);
    background-color: var(--bg-color3);
}

.card .card_divider {
    border: none;
    height: 1px;
    width: 100%;
    margin: 15px 0 15px 0;
    opacity: 0.2;
    background-color: var(--bg-color5);
}

.card .card_info {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.card_info .icon_area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: var(--bg-color3);
}

.icon_area .card_icon {
    font-size: 35px;
    color: var(--text-color1);
}

.card_info .card_content_area {
    display: flex;
    flex-direction: column;
    align-items: end;
}

.card_content_area .card_content {
    font-size: 28px;
    font-weight: 500;
}

.content_area .form_period {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    height: 100%;
}

.form_period .period_dropdown {
    font-size: 14px;
    height: 100%;
    padding: 5px;
    cursor: pointer;
    border: 1px solid var(--box-shadow-01);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    background-color: var(--bg-color1);
}

.form_period button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    height: 30px;
    width: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-015);
    background-color: var(--bg-color3);
}

.form_period .period_icon {
    color: var(--bg-color1);
    font-size: 25px;
}

/* Focus */
.form_period .period_dropdown:focus {
    outline: none;
}
