.common_form_area {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    padding: 15px 0 15px 10px;

    > span {
        font-size: 20px;
        font-weight: 600;
        margin-bottom: 25px;
    }

    > form {
        display: flex;
        flex-direction: column;
        gap: 25px;
        padding: 0 50px;
    }
}

.common_form_area > form > .field {
    display: flex;
    flex-direction: column;
    justify-content: center;

    > .field_input {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 35px;
        padding: 5px;
        border-radius: 8px;
        background-color: var(--light2);
    }

    > .field_input > input {
        border: none;
        width: 100%;
        height: 100%;
        background-color: transparent;
    }

    > .field_input > select {
        cursor: pointer;
        border: none;
        width: 100%;
        background-color: transparent;
    }

    > .field_input > textarea {
        resize: none;
        border: none;
        width: 100%;
        height: 100px;
    }

    > .field_error > span {
        font-size: 15px;
        color: var(--danger2);
    }

    > .field_input > input:focus,
    > .field_input > select:focus,
    > .field_input > textarea:focus {
        outline: none;
    }

    > .field_input:focus-within {
        border: 1px solid var(--dark2);
    }
}

.common_form_area .delete_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    > .btns_area {
        justify-content: center;
    }
}

.btns_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 15px;

    > .btn_group {
        display: flex;
        align-items: center;
        gap: 15px;
    }

    > .btn_group > .btn_submit {
        border: none;
        font-size: 14px;
        font-weight: 500;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        color: var(--light1);
        background-color: var(--success2);
    }

    > .btn_group > .btn_cancel {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: var(--light1);
        background-color: var(--info1);
    }

    > .btn_group > .btn_delete {
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-size: 14px;
        font-weight: 500;
        text-decoration: none;
        color: var(--light1);
        background-color: var(--danger1);
    }

    > .btn_group > .btn_submit:hover {
    background-color: var(--success3);
    }

    > .btn_group > .btn_cancel:hover {
        background-color: var(--info2);
    }

    > .btn_group > .btn_delete:hover {
        background-color: var(--danger3);
    }

}