._form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 15px;
    gap: 30px;
}

.add_area_plus {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 100%;
}

.add_area {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
}

.add_area span {
    margin-left: 2px;
    font-size: 16px;
    font-weight: 500;
}

.input_field {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border: 1px solid var(--box-shadow-03);
    border-radius: 8px;
}

.input_field input {
    width: 100%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
}

.input_field select {
    display: flex;
    width: 100%;
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 14px;
}

.btns_area {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.btn_group {
    display: flex;
    align-items: center;
    gap: 15px;
}

.btn_submit {
    border: none;
    font-size: 15px;
    font-weight: 500;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    color: var(--light1);
    background-color: var(--success2);
}

.btn_cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--light1);
    background-color: var(--info1);
}

.btn_delete {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    text-decoration: none;
    color: var(--light1);
    background-color: var(--danger1);
}

.add_area .field_error {
    font-size: 14px;
    margin-left: 2px;
    color: var(--danger2);
}

.input_field.invalid {
    border: 1px solid var(--danger2);
}

/* Focus */
.add_area input:focus,
.input_field select:focus {
    outline: none;
}

.add_area .input_field:focus-within {
    border: 1px solid var(--dark1);
}

/* Hover */
.btn_submit:hover {
    background-color: var(--success3);
}

.btn_cancel:hover {
    background-color: var(--info2);
}

.btn_delete:hover {
    background-color: var(--danger3);
}
