.account_content {
    overflow: hidden;
    background-color: var(--light2);
}

.login_area {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
}

.form_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 480px;
    border-radius: 8px;
    padding: 30px;
    gap: 20px;
    box-shadow: 0 0 6px 0 var(--box-shadow-01);
    background-color: var(--light1);
}

.login_logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding: 35px;
}

.img_container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    border-radius: 6px;
    background-color: var(--primary1);
}

.login_logo_img {
    width: 32px;
}

.login_logo_text {
    font-size: 35px;
    font-weight: 600;
    color: var(--primary3);
    
}

.login_title_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.login_title {
    font-size: 25px;
    font-weight: 600;
}

.login_subtitle {
    font-size: 16px;
    opacity: 0.58;
}

.login_form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.fields_area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 10px;
}

.fields_area .input_area {
    position: relative;
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-top: 10px;
}

.input_area input {
    font-size: 16px;
    height: 55px;
    padding: 10px 50px 10px 20px;
    border-radius: 8px;
    border: 1px solid var(--box-shadow-03);
    outline: none;
    transition: all var(--transition-015);
    background-color: transparent;
}

.input_area label {
    position: absolute;
    pointer-events: none;
    top: 16px;
    left: 20px;
    color: var(--box-shadow-05);
    transition: all var(--transition-015);
}

.input_area .field_icon {
    position: absolute;
    pointer-events: none;
    top: 15px;
    right: 20px;
    color: var(--box-shadow-05);
    transition: all var(--transition-015);
}

.fields_area .submit_btn {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
    font-weight: 500;
    cursor: pointer;
    width: 100%;
    height: 40px;
    margin-top: 10px;
    border: none;
    border-radius: 8px;
    color: var(--light1);
    transition: all var(--transition-015);
    background-color: var(--primary1);
}

.login_footer {
    font-size: 15px;
    opacity: 0.58;
    margin-top: 5px;
}


/* Errors */
.login_form .non_field_errors {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10px 10px;
    border-radius: 5px;
    color: var(--danger2);
}

.fields_area .input_area .field_error {
    display: flex;
    justify-content: start;
    width: 100%;
    padding-left: 2px;
    color: var(--danger2);
}

.input_area input.invalid_input {
    border: 1px solid var(--danger2);
}

.input_area input.invalid_input ~ label,
.input_area input.invalid_input ~ .field_icon {
    color: var(--danger2);
}


/* Focus */
.input_area input:focus {
    border: 1px solid var(--primary1);
    transition: all var(--transition-015);
}

.input_area input:focus ~ label,
.input_area input:not(:placeholder-shown) ~ label {
    top: -11px;
    left: 25px;
    padding: 0 5px;
    font-size: 15px;
    color: var(--primary3);
    transition: all var(--transition-015);
    background-color: var(--light1);
}

.input_area input:focus ~ .field_icon {
    color: var(--primary3);
    transition: all var(--transition-015);
}

/* Hover */
.login_form .submit_btn:hover {
    background-color: var(--primary3);
    transition: all var(--transition-015);
}
