/* Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* Login */
@import url("./login.css");

/* Sidebar */
@import url("./sidebar.css");

/* Navbar */
@import url("./navbar.css");

/* Content */
@import url("./content.css");

/* Dashboard */
@import url("./dashboard.css");

:root {
    --bg-color1: #fff;
    --bg-color2: #f0f4f5;
    --bg-color3: #4682B4;
    --bg-color4: #324669;
    --bg-color5: #000000;
    --bg-color6: #5498ca;
    --bg-color7: #b6d7a8;
    --bg-color8: #ea9999;
    --bg-color9: #ffe599;
    --bg-color9: #3b537c;

    --text-color1: #fff;
    --text-color2: #000000;
    --text-color3: #324669;
    --text-color4: #4682B4;
    --text-color5: #274e13;
    --text-color6: #990000;
    --text-color7: #7f6000;
    --text-color8: #005eff;

    --border-color1: #cecece;
    
    --box-shadow-01: rgba(0, 0, 0, 0.1);
    --box-shadow-03: rgba(0, 0, 0, 0.3);
    --box-shadow-05: rgba(0, 0, 0, 0.5);

    --transition-015: 0.15s ease;
    --transition-025: 0.25s ease;
    --transition-03: 0.3s ease;
    --transition-035: 0.35s ease;

    --error-color: #ff3c2e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.main_area {
    display: flex;
    flex-direction: column;
    height: 100vh;
}