/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600&display=swap');

/* Login */
@import url("./login.css");

/* Sidebar */
@import url("./sidebar.css");

/* Content */
@import url("./content.css");

/* Dashboard */
@import url("./dashboard.css");

/* Tables */
@import url("./tables.css");

/* Forms */
@import url("./forms.css");

:root {
    --primary1: #24324b;
    --primary2: #2b3c5a;
    --primary3: #324669;

    --secondary1: #ffffff8f;

    --success1: #b6d7a8;
    --success2: #4b832f;
    --success3: #337711;

    --danger1: #c5483f;
    --danger2: #f03629;
    --danger3: #b6271d;
    --danger4: #f5b2b2;

    --info1: #4683b4;
    --info2: #2471b1;

    --warning1: #ffe599;
    --warning2: #7f6000;

    --light1: #fff;
    --light2: #f0f4f5;

    --dark1: #000;
    --dark2: #00000052;
    --dark3: #91919149;

    --bg-color5: #000000;
    --bg-color6: #5498ca;
    --bg-color7: #b6d7a8;
    --bg-color8: #ea9999;
    --bg-color9: #ffe599;
    --bg-color9: #3b537c;
    --light10: #4b832f;
    --light11: #337711;
    --light12: #c5483f;
    --light13: #2372b3;
    --light14: #b6271d;

    --text-color1: #fff;
    --text-color2: #000000;
    --text-color3: #324669;
    --text-color4: #4682B4;
    --text-color5: #274e13;
    --text-color6: #990000;
    --text-color7: #7f6000;
    --text-color8: #005eff;
    --text-color9: #ffffffa1;
    
    --box-shadow-01: rgba(0, 0, 0, 0.1);
    --box-shadow-03: rgba(0, 0, 0, 0.3);
    --box-shadow-05: rgba(0, 0, 0, 0.5);

    --transition-015: 0.15s ease;
    --transition-025: 0.25s ease;
    --transition-035: 0.35s ease;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style-type: none;
    text-decoration: none;
    font-family: "Poppins", sans-serif;
}

.main_area {
    display: flex;
    height: 100vh;
    background-color: var(--light2);
}