nav {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    width: calc(100% - 250px);
    height: 70px;
    z-index: 1;
    background-color: red;
    transition: all 0.35s ease;
}

.user_area {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    padding-right: 18px;
}

.user_area .user_info {
    display: flex;
    flex-direction: column;
}

.user_area .user_icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
    color: var(--user-icon-text-color);
    background-color: var(--user-icon-bg-color);
    border-radius: 50%;
    font-weight: 600;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}

.user_info .user_name {
    font-size: 16px;
}

.user_info .user_role {
    font-size: 13px;
    opacity: 0.5;
}


/* Sidebar close events */
.sidebar.close ~ nav {
    /* width: calc(100% - 70px);
    transition: all 0.35s ease; */
}