.sidebar {
    position: fixed;
    display: flex;
    flex-direction: column;
    width: 250px;
    height: 100%;
    top: 0;
    left: 0;
    padding: 12px;
    border-right: 1px solid var(--border-color);
    background-color: var(--sidebar-bg-color);
    transition: all 0.35s ease;
    z-index: 2;
}

.sidebar .btn_toggle {
    position: absolute;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    right: -16px;
    top: 2.5%;
    font-size: 25px;
    height: 30px;
    width: 30px;
    border-radius: 8px;
    border: 2px solid var(--toggle-color);
    background-color: #fff;
    color: var(--toggle-color);
    transition: all 0.35s;
    box-shadow: 0 0 2px 0 rgba(0,0,0,0.5);
}

.sidebar .logo_area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 5px;
}

.sidebar .logo_area .logo_name {
    font-size: 25px;
    font-weight: 500;
    margin-left: 65px;
    color: var(--itens-color);
    opacity: 1;
    transition: all 0.3s ease;
}

.sidebar .logo_area .logo_image {
    position: absolute;
    width: 35px;
    margin-left: 10px;
    margin-top: 5px;
}

.sidebar .divider {
    border: none;
    border-radius: 5px;
    background-color: var(--divider-color);
    height: 1px;
    margin: 20px 0 12px 0;
}

.menu_area {
    display: flex;
    flex-direction: column;
    height: calc(100% - 70px);
}

.menu_itens {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.menu_itens .item {
    border-radius: 8px;
    height: 48px;
    
}

.item .item_link {
    display: flex;
    align-items: center;
    height: 100%;
    width: 100%;
    padding-left: 8px;
}

.item_link .item_icon {
    font-size: 30px;
    color: var(--itens-color);
}

.item_link .item_name {
    font-size: 16px;
    padding-left: 20px;
    color: var(--itens-color);
    opacity: 1;
    transition: opacity 0.2s;
}


/* Hover */
.item:hover {
    background-color: var(--itens-hover-bg-color);
    transition: background-color 0.2s;
}

.item:hover .item_link .item_icon,
.item:hover .item_link .item_name {
    color: var(--itens-hover-color);
    transition: color 0.2s;
}


/* Sidebar close events */
.sidebar.close {
    width: 70px;
    transition: width 0.35s;
}

.sidebar.close .logo_name,
.sidebar.close .item_name {
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s;
}

.sidebar.close .item:hover .item_name {
    position: relative;
    opacity: 1;
    color: #fff;
    margin-left: 20px;
    padding: 8px;
    margin-left: 30px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    background-color: black;
    transform: translateX(5px);
    transition: opacity 0.2s, transform 0.2s;
}

.sidebar.close .item:hover .item_name::after {
    content: '';
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: -19px;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-right: 18px solid black;
}

.sidebar.close .btn_toggle {
    transform: rotate(180deg);
    transition: transform 0.35s;
}