table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: transparent;
    z-index: 1;
}

thead tr {
    position: sticky;
    font-size: 14px;
    font-weight: 500;
    top: 0;
    height: 30px;
    padding: 12px;
    color: var(--dark1);
}

tbody tr {
    font-size: 14px;
    border-top: 1px solid var(--dark3);
    border-bottom: 1px solid var(--dark3);
    color: var(--dark1);
}

tbody tr:nth-child(even) {
    background-color: var(--light2);
}

th {
    position: relative;
    height: 30px;
    max-width: 200px;
    padding: 12px;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.th_icon_area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.th_icon_area_link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-015);
    background-color: var(--info2);
}

.th_icon_area_link:hover {
    background-color: var(--info1);
}

.th_icon_area_link .th_icon {
    color: var(--light1);
    font-size: 22px;
}

.status.active {
    text-align: center;
    border-radius: 5px;
    color: var(--success3);
    background-color: var(--success1);
}

.status.inactive {
    text-align: center;
    border-radius: 5px;
    color: var(--danger3);
    background-color: var(--danger4);
}

.status.pendent {
    text-align: center;
    border-radius: 5px;
    color: var(--warning2);
    background-color: var(--warning1);
}