.table_area {
    flex: 1;
    overflow-y: auto;
}

.table_area table {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
    background-color: transparent;
    z-index: 1;
}

.table_area table thead tr {
    position: sticky;
    font-size: 14px;
    font-weight: 500;
    top: 0;
    height: 30px;
    padding: 12px;
    color: var(--dark1);
}

.table_area table tbody tr {
    font-size: 14px;
    border-top: 1px solid var(--dark3);
    border-bottom: 1px solid var(--dark3);
    color: var(--dark1);
}

.table_area table tbody .name_area {
    display: flex;
    flex-direction: column;
    align-items: start;
    width: 100%;
    gap: 4px;

    > .text {
        display: block;
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
        width: 100%;
    }

    > .variant_text {
        color: var(--info2);
    }
}


.table_area table tbody tr:nth-child(even) {
    background-color: var(--light2);
}

.table_area table th {
    position: relative;
    height: 30px;
    max-width: 190px;
    padding: 10px;
    white-space: nowrap;   
}

.table_area table .th_icon_area {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    text-align: center;
}

.table_area table .th_icon_area_link {
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color var(--transition-015);
    background-color: var(--info2);
}

.table_area table .th_icon_area_link:hover {
    background-color: var(--info1);
}

.table_area table .th_icon_area_link .th_icon {
    color: var(--light1);
    font-size: 22px;
}

.table_area table .status.active {
    text-align: center;
    border-radius: 5px;
    color: var(--success3);
    background-color: var(--success1);
}

.table_area table .status.inactive {
    text-align: center;
    border-radius: 5px;
    color: var(--danger3);
    background-color: var(--danger4);
}

.table_area table .status.pendent {
    text-align: center;
    border-radius: 5px;
    color: var(--warning2);
    background-color: var(--warning1);
}