:root {
    --sidebar-bg-color: #324669;
    --navbar-bg-color: #fff;
    --content-bg-color: #f0f4f5;
    --itens-color: #fff;
    --itens-hover-color: #324669;
    --itens-hover-bg-color: #f0f4f5;
    --user-icon-bg-color: #4682B4;
    --user-icon-text-color: #fff;
    --toggle-color: #324669;
    --divider-color: #fff;
    --dropdownmenu-bg-color: #fff;
}