{% extends 'base.html' %}

{% block page_title %}
    Nova senha
{% endblock %}

{% block account_content %}
    <div class="container vh-100">
        <div class="row align-items-center justify-content-center h-100 p-0">
            <div class="col-auto">
                <h4 class="fw-semibold mb-3 text-center">Nova senha</h4>

                <form method="post">
                    {% csrf_token %}

                    {% include 'account_includes/_errors.html' %}

                    <!-- Password1 -->
                    <div class="form-floating mb-3">
                        {% include 'account_includes/password_reset_includes/_new_password1_field.html' %}
                    </div>
                    
                    <!-- Password2 -->
                    <div class="form-floating mb-3">
                        {% include 'account_includes/password_reset_includes/_new_password2_field.html' %}
                    </div>

                    <button class="btn btn-primary fw-semibold w-100" type="submit">Alterar senha</button>
                </form>
            </div>
        </div>
    </div>
{% endblock %}