{% extends 'base.html' %}

{% block page_title %}
    Senha alterada
{% endblock %}

{% block account_content %}
    <div class="container vh-100">
        <div class="row align-items-center justify-content-center h-100 p-0">
            <div class="col-auto">
                <h4 class="fw-semibold mb-3 text-center">Senha alterada com sucesso!</h4>
                <h6 class="fw-normal mb-3 text-center">Agora você pode fazer login com sua nova senha.</h6>

                <div class="row justify-content-center">
                    <a href="{% url 'account:login' %}" class="btn btn-primary fw-semibold w-50" type="button">Ir para o login</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}