<nav class="navbar">
    <div class="user_area">
        <div class="user_icon">
            PV
        </div>

        <div class="user_info">
            <div class="user_name">
                Paulo Victor
            </div>
    
            <div class="user_role">
                Administrador
            </div>
        </div>

        <span class="user_dropdown_icon material-icons-sharp">arrow_drop_down</span>
    </div>

    <div class="dropdown_menu">
        <ul class="dropdown_list">
            <li class="dropdown_item">
                <a class="dropdown_link" href="#">
                    <span class="dropdown_item_icon material-icons-sharp">manage_accounts</span>
                    <span class="dropdown_item_name">Conta</span>
                </a>
            </li>

            <li class="dropdown_item">
                <hr class="dropdown_divider">
            </li>

            <li class="dropdown_item">
                <a class="dropdown_link" href="#">
                    <span class="dropdown_item_icon material-icons-sharp">logout</span>
                    <span class="dropdown_item_name">Sair</span>
                </a>
            </li>
        </ul>
    </div>
</nav>