{% load static %}

<aside class="sidebar close">
    <span class="btn_toggle material-icons-sharp">chevron_left</span>

    <div class="logo_area">
        <img class="logo_image" src="{% static 'img/sidebar_logo.png' %}" alt="logo_facilitasys">
        
        <span class="logo_name">Facilitasys</span>
    </div>

    <hr class="divider">

    <div class="menu_area">
        <ul class="menu_itens">
            <li class="item">
                <a class="item_link" href="{% url 'dashboard:overview' %}">
                    <span class="item_icon material-icons-sharp">dashboard</span>
                    <span class="item_name">Dashboard</span>
                </a>
            </li>

            <li class="item">
                <a class="item_link" href="{% url 'account:users' %}">
                    <span class="item_icon material-icons-sharp">people</span>
                    <span class="item_name">Usuários</span>
                </a>
            </li>

            <li class="item">
                <a class="item_link" href="#">
                    <span class="item_icon material-icons-sharp">assignment</span>
                    <span class="item_name">Pedidos</span>
                </a>
            </li>

            <li class="item">
                <a class="item_link" href="#">
                    <span class="item_icon material-icons-sharp">factory</span>
                    <span class="item_name">Fornecedores</span>
                </a>
            </li>

            <li class="item">
                <a class="item_link" href="#">
                    <span class="item_icon material-icons-sharp">warehouse</span>
                    <span class="item_name">Estoque</span>
                </a>
            </li>
        </ul>
    </div>
</aside>