{% load static %}

<aside class="">
    <ul class="sidebar_itens">
        <div class="sidebar_top">
            <img class="logo_image" src="{% static 'img/logo_facilitasys.png' %}" alt="logo_facilitasys">
            <span class="logo_text">FacilitaSys</span>
        </div>

        <hr class="sidebar_divider">
    
        <li>
            <a href="#">                    
                <span id="link_icon" class="material-icons-sharp">analytics</span>
                <span class="link_text">Dashboard</span>        
            </a>
        </li>

        <li>
            <a href="#">                    
                <span id="link_icon" class="material-icons-sharp">people</span>
                <span class="link_text">Usuários</span>        
            </a>
        </li>

        <li>
            <a href="#">                    
                <span id="link_icon" class="material-icons-sharp">factory</span>
                <span class="link_text">Fornecedores</span>        
            </a>
        </li>

        <li>
            <a href="#">                    
                <span id="link_icon" class="material-icons-sharp">assignment</span>
                <span class="link_text">Pedidos</span>        
            </a>
        </li>

        <li>
            <a href="#">                    
                <span id="link_icon" class="material-icons-sharp">inventory_2</span>
                <span class="link_text">Produtos</span>        
            </a>
        </li>

        <li>
            <a href="#">                    
                <span id="link_icon" class="material-icons-sharp">point_of_sale</span>
                <span class="link_text">PDV</span>        
            </a>
        </li>
    </ul>
</aside>

