<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    {% include 'base_includes/_base_links.html' %}

    <!-- Title -->
    <title>FacilitaSys | {% block title %}{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <div class="row min-vh-100">
            <div class="col-auto min-vh-100 border">
                {% include 'base_includes/_sidebar.html' %}
            </div>

            <div class="col p-0">
                <div class="row-auto">
                    {% include 'base_includes/_navbar.html' %}
                </div>

                <div class="row-auto min-vh-100 border">
                    {% block main_content %}{% endblock %}
                </div>

                <div class="row-auto border">
                    {% include 'base_includes/_footer.html' %}
                </div>
            </div>
        </div>
 

    {% else %}
        <main class="account_content">
            {% block account_content %}{% endblock %}
        </main>

    {% endif %}
</body>
</html>