<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    {% include 'base_components/_base_links.html' %}

    <!-- Titulo -->
    <title>Talgui | {% block title %}{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <!-- Navbar -->
        {% include 'base_components/_navbar.html' %}

        <!-- Cart menu -->
        {% include 'base_components/_cart_menu.html' %}

        <!-- Main content -->
        <main class="container-fluid">
            {% block content %}{% endblock %}
        </main>

        <footer class="">
            {% include 'base_components/_footer.html' %}
        </footer>
    {% else %}
        <main class="d-flex justify-content-center align-items-center min-vh-100">
            {% block account_content %}{% endblock %}
        </main>
    {% endif %}
</body>
</html>