<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Links -->
    {% include 'partials/_links.html' %}

    <!-- Title -->
    <title>FacilitaSys | {% block page_title %}{% endblock %}</title>
</head>
<body>
    {% if user.is_authenticated %}
        <main class="main_area">
            <!-- Messages -->
            {% include 'partials/_messages.html' %}
  
            <!-- Sidebar -->
            {% include 'partials/_sidebar.html' %}
      
            <!-- Content -->
            <div class="content_area">
                <div class="content_top">
                    <span class="title">
                        {% block content_title %}{% endblock %}
                    </span>
                </div>

                <div class="content_body">
                    {% if '_list' in request.resolver_match.url_name %}
                        <div class="search_area">
                            {% block search %}{% endblock %}
                        </div>
                    {% endif %}

                    <div class="content">
                        {% block content %}{% endblock %}
                    </div>
                </div>
            </div>
        </main>
        
    {% else %}
        <main class="account_content">
            {% block login %}{% endblock %}
        </main>

    {% endif %}
</body>
</html>