{% extends 'base.html' %}

{% load static %}

{% block page_title %}
   Dashboard
{% endblock %}

{% block content_title %}
   Dashboard
{% endblock %}

{% block content_body %}
   <div class="card_area">
      <div class="card">
         <div class="card_top">
            <span class="card_title">
               Vendas
            </span>
            <span class="period">
               Mensal
            </span>
         </div>

         <hr class="card_divider">

         <div class="card_info">
            <div class="icon_area">
               <span class="card_icon material-icons-sharp">attach_money</span>
            </div>

            <div class="card_content_area">
               <span class="card_content">
                  R$ 1500,00
               </span>
            </div>
         </div>
      </div>

      <div class="card">
         <div class="card_top">
            <span class="card_title">
               Pedidos
            </span>
            <span class="period">
               Mensal
            </span>
         </div>

         <hr class="card_divider">

         <div class="card_info">
            <div class="icon_area">
               <span class="card_icon material-icons-sharp">shopping_cart</span>
            </div>

            <div class="card_content_area">
               <span class="card_content">
                  128
               </span>
            </div>
         </div>
      </div>

      <div class="card">
         <div class="card_top">
            <span class="card_title">
               Giro de estoque
            </span>
            <span class="period">
               Mensal
            </span>
         </div>

         <hr class="card_divider">

         <div class="card_info">
            <div class="icon_area">
               <span class="card_icon material-icons-sharp">inventory_2</span>
            </div>

            <div class="card_content_area">
               <span class="card_content">
                  5
               </span>
            </div>
         </div>
      </div>

      <div class="card">
         <div class="card_top">
            <span class="card_title">
               Clientes
            </span>
            <span class="period">
               Mensal
            </span>
         </div>

         <hr class="card_divider">

         <div class="card_info">
            <div class="icon_area">
               <span class="card_icon material-icons-sharp">groups</span>
            </div>

            <div class="card_content_area">
               <span class="card_content">
                  142
               </span>
            </div>
         </div>
      </div>
   </div>
{% endblock %}

{% block search %}
   <form class="form_period">
      {% csrf_token %}

      <select class="period_dropdown" name="period">
         <option value="mensal" selected>Mensal</option>
         <option value="diario">Diário</option>
         <option value="anual">Anual</option>
      </select>
      
      <button type="submit">
         <span class="period_icon material-icons-sharp">autorenew</span>
      </button>
   </form>
{% endblock %}