{% extends 'base.html' %}

{% block page_title %}
   Movimentações
{% endblock %}

{% block content_title %}
   Movimentações
{% endblock %}

{% block modal_title %}
   Adicionar Movimentação
{% endblock %}

{% block modal_body %}
   <form class="modal_form">
      
   </form>
{% endblock %}

{% block search %}
   <div class="search_area">
      <form class="form_search">
        {% csrf_token %}
  
        <select class="filter_menu" name="filter">
           <option value="flow_type" selected>Tipo</option>
           <option value="creation_date">Data</option>
        </select>
  
        <div class="search_group">
           <input type="text" name="search" placeholder="Pesquisar..." value="{{ request.GET.search }}">
           
           <button type="submit">
              <span class="search_icon material-icons-sharp">search</span>
           </button>
        </div>
     </form>

     <div class="btn_area">
         <button class="add_btn">
            <span class="add_icon material-icons-sharp">add</span>
         </button>
         
         <a class="report_btn" href="#">
            <span class="report_icon material-icons-sharp">file_download</span>
         </a>
      </div>
   </div>
{% endblock %}

{% block content_body %}
   <div class="table_area">
      <table>
         <thead>
            <tr>
               <th>TIPO</th>
               <th>ORIGEM</th>
               <th>DESTINO</th>
               <th>QTD. ITENS</th>
               <th>DATA DE CRIAÇÃO</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            {% for flow in flows %}
               <tr>
                  <th>{{ flow.get_flow_type_display }}</th>
                  <th>{{ flow.get_origin_display }}</th>
                  <th>{{ flow.get_destination_display }}</th>
                  <th>{{ flow. }}</th>
                  <th>{{ flow.creation_date|date:"d/m/Y" }}</th>
                  <th class="th_icon_area">
                     <a class="th_icon_area_link" href="#">
                        <span class="th_icon material-icons-sharp">edit</span>
                     </a>
                  </th>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock %}