{% extends 'base.html' %}

{% load static %}

{% block page_title %}
   Entrar
{% endblock %}

{% block account_content %}
   <div class="login_area">
      <div class="form_area">
         <div class="login_logo">
            <div class="img_container">
               <img class="login_logo_img" src="{% static 'img/logo_facilitasys.png' %}" alt="logo_facilitasys">
            </div>

            <span class="login_logo_text">Facilitasys</span>
         </div>

         <div class="login_title_area">
            <span class="login_title">Acesso ao Sistema</span>
            <span class="login_subtitle">Entre com suas credenciais para acessar o painel</span>
         </div>

         <form class="login_form" method="post">
            {% csrf_token %}

            {% if form.non_field_errors %}
               <div class="non_field_errors">
                  {% for error in form.non_field_errors %}
                     {{ error }}
                  {% endfor %}
               </div>
            {% endif %}
   
            <div class="fields_area">
               <div class="input_area">
                  <input class="{% if form.username.errors or form.non_field_errors %}invalid_input{% endif %}"
                  type="email"
                  name="username"
                  id="email_input"
                  placeholder=""
                  value="{{ form.username.value|default_if_none:'' }}">
   
                  <label for="email_input">Email</label>
   
                  <span class="field_icon material-icons-sharp">person</span>
   
                  {% for error in form.username.errors %}
                     <div class="field_error">{{ error }}</div>
                  {% endfor %}
               </div>
   
               <div class="input_area">
                  <input class="{% if form.password.errors or form.non_field_errors %}invalid_input{% endif %}" 
                  type="password"
                  name="password" 
                  id="password_input" 
                  placeholder=""
                  value="{{ form.password.value|default_if_none:'' }}">
   
                  <label for="password_input">Senha</label>
   
                  <span class="field_icon material-icons-sharp">lock</span>
                  
                  {% for error in form.password.errors %}
                     <div class="field_error">{{ error }}</div>
                  {% endfor %}
               </div>
               
               <button class="submit_btn" type="submit">
                  Entrar
                  <span class="submit_icon material-icons-sharp">login</span>
               </button>
            </div>
         </form>

         <span class="login_footer">&copy; 2025 Facilitasys. Todos os direitos reservados</span>
      </div>
   </div>
{% endblock %}