{% extends 'base.html' %}

{% load static %}

{% block page_title %}
   Entrar
{% endblock %}

{% block account_content %}
   <div class="login_area">
      <form class="login_form" method="post">
         {% csrf_token %}

         <h3 class="login_title">Login</h3>

         {% if form.non_field_errors %}
            <div class="errors">
               {% for error in form.non_field_errors %}
                  {{ error }}
               {% endfor %}
            </div>
         {% endif %}

         <div class="fields_area">
            <label class="email_field">
               <span class="email_text">E-mail</span>
               <input class="email_input" type="email" name="username">
            </label>
            {% for error in form.username.errors %}
               <div class="field_error">{{ error }}</div>
            {% endfor %}
   
            <label class="password_field">
               <span class="password_text">Senha</span>
               <input class="password_input" type="password" name="password">
            </label>
            {% for error in form.password.errors %}
               <div class="field_error">{{ error }}</div>
            {% endfor %}

            <button class="submit_btn" type="submit">ENTRAR</button>
         </div>


         <div class="register">
            <span class="register_text">
               Ainda não tem uma conta? <a class="register_link" href="#">Cadastre-se</a>
            </span>
         </div>
      </form>
   </div>
{% endblock %}