{% extends 'base.html' %}

{% block page_title %}
   PDV
{% endblock %}

{% block content_title %}
   Ponto de Venda
{% endblock %}

{% block content_body %}
    <div class="pdv_area">
        <div class="pdv_top">
            <div class="customer_search">
                <input type="text" placeholder="Burcar cliente...">
            </div>
    
            <div class="product_search">
                <input type="text" placeholder="Burcar produto...">
            </div>
        </div>
    </div>
{% endblock %}
