{% extends 'base.html' %}

{% block page_title %}
   Produtos
{% endblock %}

{% block content_title %}
   Produtos
{% endblock %}

{% block search %}
    <form class="form_search">
      {% csrf_token %}

      <select class="filter_menu" name="filter">
         <option value="description" selected>Descrição</option>
         <option value="sku">SKU</option>
         <option value="bar_code">Cód. Barras</option>
      </select>

      <div class="search_group">
         <input type="text" name="search" placeholder="Pesquisar...">
         
         <button type="submit">
            <span class="search_icon material-icons-sharp">search</span>
         </button>
      </div>
   </form>
{% endblock %}

{% block content_body %}
   <div class="table_area">
      <table>
         <thead>
            <tr>
               <th>DESCRIÇÃO</th>
               <th>CÓD. BARRAS</th>
               <th>TIPO</th>
               <th>PREÇO</th>
               <th>ESTOQUE</th>
               <th>STATUS</th>
               <th></th>
            </tr>
         </thead>
         <tbody>
            {% for product in products %}
               <tr>
                  <th>{{ product }}</th>
                  <th>{{ product.bar_code }}</th>
                  <th>{{ product.get_format_type_display }}</th>
                  <th>R$ {{ product.price }}</th>
                  <th>{{ product.stock }}</th>
                  <th>
                  {% if product.is_active %}
                     <p class="status active">Ativo</p>
                  {% else %}
                     <p class="status inactive">Inativo</p>
                  {% endif %}
                  </th>
                  <th class="row_icon_area">
                     <button class="row_icon_btn" type="button">
                        <span class="material-icons-sharp">more_vert</span>
                     </button>
                  </th>
               </tr>
            {% endfor %}
         </tbody>
      </table>
   </div>
{% endblock %}