{% extends 'base.html' %}

{% block page_title %}
   Fornecedores
{% endblock %}

{% block content_title %}
   Fornecedores
{% endblock %}

{% block search %}
   <div class="search_area">
      <form class="form_search">
        {% csrf_token %}
  
        <select class="filter_menu" name="filter">
           <option value="name">Nome</option>
           <option value="document" selected>CNPJ</option>
           <option value="email">Email</option>
        </select>
  
        <div class="search_group">
           <input type="text" name="search" placeholder="Pesquisar..." value="{{ request.GET.search }}">
           
           <button type="submit">
              <span class="search_icon material-icons-sharp">search</span>
           </button>
        </div>
     </form>

     <div class="btn_area">
         <button class="add_btn">
            <span class="add_icon material-icons-sharp">add</span>
         </button>
         
         <a class="report_btn" href="#">
            <span class="report_icon material-icons-sharp">file_download</span>
         </a>
      </div>
   </div>
{% endblock %}

{% block content_body %}
   <table>
      <thead>
         <tr>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>CNPJ</th>
            <th>STATUS</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         {% for supplier in suppliers %}
            <tr>
               <th>{{ supplier.name }}</th>
               <th>{{ supplier.email }}</th>
               <th>
                  {% if supplier.document %}
                     {{ supplier.document }}
                  {% else %}
                     -
                  {% endif %}
               </th>
               <th>
                  {% if supplier.is_active %}
                     <p class="status active">Ativo</p>
                  {% else %}
                     <p class="status inactive">Inativo</p>
                  {% endif %}
               </th>
               <th class="th_icon_area">
                  <a class="th_icon_area_link" href="#">
                     <span class="th_icon material-icons-sharp">edit</span>
                  </a>
               </th>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}