{% extends 'base.html' %}

{% block page_title %}
   Usuários
{% endblock %}

{% block content_title %}
   Usuários
{% endblock %}

{% block search %}
   <div class="search_area">
      <form class="form_search">
        {% csrf_token %}
  
        <select class="filter_menu" name="filter">
           <option value="full_name" selected>Nome</option>
           <option value="document">Documento</option>
           <option value="email">Email</option>
        </select>
  
        <div class="search_group">
           <input type="text" name="search" placeholder="Pesquisar..." value="{{ request.GET.search }}">
           
           <button type="submit">
              <span class="search_icon material-icons-sharp">search</span>
           </button>
        </div>
     </form>

     <div class="btn_area">
         <a class="add_btn" href="{% url 'account:user_create' %}">
            <span class="add_icon material-icons-sharp">add</span>
         </a>
         
         <a class="report_btn" href="{% url 'account:user_list_export' %}">
            <span class="report_icon material-icons-sharp">file_download</span>
         </a>
      </div>
   </div>
{% endblock %}

{% block content_body %}
   <table>
      <thead>
         <tr>
            <th>NOME</th>
            <th>EMAIL</th>
            <th>DOCUMENTO</th>
            <th>TIPO DE USUÁRIO</th>
            <th>STATUS</th>
            <th></th>
         </tr>
      </thead>
      <tbody>
         {% for user in users %}
            <tr>
               <th>{{ user.get_full_name }}</th>
               <th>{{ user.email }}</th>
               <th>
                  {% if user.document %}
                     {{ user.document }}
                  {% else %}
                     -
                  {% endif %}
               </th>
               <th>{{ user.get_user_type_display }}</th>
               <th>
               {% if user.is_active %}
                  <p class="status active">Ativo</p>
               {% else %}
                  <p class="status inactive">Inativo</p>
               {% endif %}
               </th>
               <th class="th_icon_area">
                  <a class="th_icon_area_link" href="{% url 'account:user_update' user.pk %}">
                     <span class="th_icon material-icons-sharp">edit</span>
                  </a>
               </th>
            </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}