{% extends 'base.html' %}

{% load static %}

{% block page_title %}
   Usuários
{% endblock %}

{% block content_title %}
   Usuários
{% endblock %}

{% block search %}
    <form class="form_search">
      {% csrf_token %}

      <select class="filter_menu" name="filter">
         <option value="id">ID</option>
         <option value="name">Nome</option>
         <option value="cpf/cnpj" selected>CPF/CNPJ</option>
         <option value="email">Email</option>
      </select>

      <div class="search_group">
         <input type="text" name="search" placeholder="Pesquisar...">
         
         <button type="submit">
            <span class="search_icon material-icons-sharp">search</span>
         </button>
      </div>
   </form>
{% endblock %}

{% block content_body %}
   <table>
      <thead>
         <tr>
            <th>ID</th>
            <th>Nome</th>
            <th>Email</th>
            <th>CPF/CNPJ</th>
            <th>Tipo de usuário</th>
            <th>Conta ativa?</th>
         </tr>
      </thead>
      <tbody>
         {% for user in User.objects.all %}
         <tr>
            <th>{{ user.pk }}</th>
            <th>{{ user.get_full_name }}</th>
            <th>{{ user.email }}</th>
            <th>{{ user.document }}</th>
            <th>{{ user.user_type }}</th>
            <th>
               {% if user.is_active %}
                  Ativa
               {% else %}
                  inativa
               {% endif %}
            </th>
         </tr>
         {% endfor %}
      </tbody>
   </table>
{% endblock %}