{% extends 'base.html' %}

{% block page_title %}
   Editar
{% endblock %}

{% block content_title %}
    Editando - {{ user.get_full_name }}
{% endblock %}

{% block content %}
    <form class="_form" method="post" action="{% url 'account:user_update' user.pk %}">
        {% csrf_token %}

        <div class="add_area_plus">
            <div class="add_area">
                <span>Nome</span>
                
                <div class="input_field {% if form.first_name.errors %}invalid{% endif %}">
                    <input type="text" name="first_name" value="{{ form.first_name.value }}">
                </div>
        
                {% for error in form.first_name.errors %}
                    <div class="field_error">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="add_area">
                <span>Sobrenome</span>
                
                <div class="input_field {% if form.last_name.errors %}invalid{% endif %}">
                    <input type="text" name="last_name" value="{{ form.last_name.value }}">
                </div>
        
                {% for error in form.last_name.errors %}
                    <div class="field_error">{{ error }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="add_area">
            <span>Email</span>
            
            <div class="input_field {% if form.email.errors %}invalid{% endif %}">
                <input type="text" name="email" value="{{ form.email.value }}">
            </div>

            {% for error in form.email.errors %}
                <div class="field_error">{{ error }}</div>
            {% endfor %}
        </div>

        <div class="add_area_plus">
            <div class="add_area">
                <span>Tipo de usuário</span>

                <div class="input_field">
                    <select name="user_type">
                        {% for value, label in form.user_type.field.choices %}
                            <option value="{{ value }}" {% if form.user_type.value == value %}selected{% endif %}>{{ label }}</option>
                        {% endfor %}
                    </select>
                </div>

                {% for error in form.user_type.errors %}
                    <div class="field_error">{{ error }}</div>
                {% endfor %}
            </div>

            <div class="add_area">
                <span>Status conta</span>

                <div class="input_field">
                    <select name="is_active">
                        <option value="True" {% if form.is_active.value|stringformat:"s" == "True" %}selected{% endif %}>Ativa</option>
                        <option value="False" {% if form.is_active.value|stringformat:"s" == "False" %}selected{% endif %}>Inativa</option>
                    </select>
                </div>

                {% for error in form.user_type.errors %}
                    <div class="field_error">{{ error }}</div>
                {% endfor %}
            </div>
        </div>

        <div class="btns_area">
            <div class="btn_group">
                <button class="btn_submit" type="submit">Atualizar</button>
    
                <a class="btn_cancel" href="{% url 'account:user_list' %}">Cancelar</a>
            </div>

            <div class="btn_group">
                <a class="btn_delete" href="{% url 'account:user_delete' user.pk %}">Deletar</a>
            </div>
        </div>
    </form>
{% endblock %}