{% extends 'base.html' %}

{% block page_title %}
   Excluir
{% endblock %}

{% block content_title %}
    Excluindo - {{ customer }}
{% endblock %}

{% block content %}
    <form class="_form" method="post">
        {% csrf_token %}

        <span>Tem certeza que deseja remover <strong>"{{ customer }}"</strong>?</span>

        <div class="btn_group">
            <button class="btn_delete" type="submit">
                Sim, tenho certeza
            </button>
    
            <a class="btn_cancel" href="{% url 'customer:customer_update' user.pk %}">
                Não, voltar para a edição
            </a>
        </div>
    </form>
{% endblock %}