{% extends 'base.html' %}

{% block page_title %}
   Excluir
{% endblock %}

{% block content_title %}
    Excluindo - {{ user.get_full_name }}
{% endblock %}

{% block content_body %}
    <form class="add_form" method="post">
        {% csrf_token %}

        <span>Tem certeza que deseja remover <strong>"{{ user.get_full_name }}"</strong>?</span>

        <div class="btn_group">
            <button class="btn_delete" type="submit">
                Sim, tenho certeza
            </button>
    
            <a class="btn_cancel" href="{% url 'account:user_update' user.pk %}">
                Não, voltar para a edição
            </a>
        </div>
    </form>
{% endblock %}